{{FrontSide}}
<hr class="divider">
<div class="card card-vocab back">
  {{#IPA}}<div class="block ipa"><span class="label">Pronunciation (General American)</span><div class="value">{{IPA}}</div></div>{{/IPA}}
  <div class="block meaning"><span class="label">Meaning</span><div class="value">{{MeaningEnglish}}</div></div>
  {{#MeaningPersian}}<div class="block meaning-fa"><span class="label">Persian</span><div class="value fa">{{MeaningPersian}}</div></div>{{/MeaningPersian}}
  {{#Examples}}<div class="block examples"><span class="label">Examples</span><div class="value">{{Examples}}</div></div>{{/Examples}}
  {{#Collocations}}<div class="block collocations"><span class="label">Collocations</span><div class="value">{{Collocations}}</div></div>{{/Collocations}}
  {{#UsageNote}}<div class="block usage"><span class="label">Usage note</span><div class="value">{{UsageNote}}</div></div>{{/UsageNote}}
  {{#CommonErrors}}<div class="block errors"><span class="label">Common errors</span><div class="value">{{CommonErrors}}</div></div>{{/CommonErrors}}
  <div class="meta">{{#CEFR}}<span class="cefr">{{CEFR}}</span>{{/CEFR}}<span class="tags">{{Tags}}</span></div>
</div>
